@model Student
@{
    ViewBag.Title = "Edit";
}


    <form asp-action="Edit">
        <input asp-for="Id" hidden/><br />
        Name <input asp-for="Name" /><br />
        Age <input asp-for="age" /><br />
        <select asp-for="DeptNo" asp-items="ViewBag.Department">

        </select>
        <input type="submit" value="Update" />
    </form>

