
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <table border="1">
        <thead>
            <tr>
                <td>Id</td>
                <td>Name</td>
            </tr>
        </thead>
        @foreach (var item in ViewData["Depts"] as List<DepartmentModelView>)
        {
                <tr>
                            <td>@item.DeptId</td>
                            <td>@item.DeptName</td>                            
                </tr>
        }
    </table>
    <table border="1">
        <thead>
            <tr>
                <td>Id</td>
                <td>Name</td>
            </tr>
        </thead>
        @foreach (var item in ViewBag.depts)
        {
                    <tr>
                                <td>@item.DeptId</td>
                                <td>@item.DeptName</td>                            
                    </tr>
        }
    </table>
</body>
</html>
