@page "{id?}"
@model Demo6.Pages.Departments.EditModel
@{
}

<form method="post">
	<input type="text" asp-for="department.DeptId" hidden/><span asp-validation-for="department.DeptId"></span></br>
	<input type="text" asp-for="department.DeptName" /><span asp-validation-for="department.DeptName"></span></br>
	<input type="submit" value="add" />
</form>
@section scripts{
				<partial name="_ValidationScriptsPartial" />
}