@model DepartmentModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Delete</title>
    <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.css" />
</head>
<body>
    <h1 class="alert alert-danger">
        are you sure
        @Model.DeptName
    </h1>
    <form method="post"  >
        <input asp-for="DeptId" hidden/>
        <input type="submit" value="delete" />
    </form>
</body>
</html>
