@model DepartmentModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Edit</title>
</head>
<body>
    <form method="post">
        Id <input asp-for="DeptId"  hidden/><br />
       name <input asp-for="DeptName" /><br />
        <input type="submit" value="update" />
    </form>
</body>
</html>
