@model DepartmentModel
@{
    ViewBag.Title = "Delete";
}


    <h1 class="alert alert-danger">
        are you sure
        @Model.DeptName
    </h1>
    <form method="post"  >
        <input asp-for="DeptId" hidden/>
        <input type="submit" value="delete" />
    </form>

